<form action="/metrics" method="POST">
    <label for="waste">Store Name</label>
    <input type="text" placeholder="Name" name="name">
    <br>
    <label for="waste">Average Pounds of Trash, Recycling, and Compost per day</label>
    <input type="text" placeholder="Trash" name="trash">
    <input type="text" placeholder="Racycling" name="recycle">
    <input type="text" placeholder="Compost" name="compost">
    <br>
    <label for="milk">Average Gallons of Milk used</label>
    <input type="text" placeholder="Milk" name="milk">
    <br>
    <label for="commute">Average Amount of Miles All Employees commute by car per day</label>
    <input type="text" placeholder="Average Commute time" name="commute">
    <br>
    <label for="bills">Utilities</label>
    <input type="text" placeholder="Gas" name="gas">
    <input type="text" placeholder="Water" name="water">
    <input type="text" placeholder="Electric" name="electric">
    <br>
    <label for="coffee">Average Pounds of coffee from non-local regions ordered</label>
    <input type="text" placeholder="Coffee" name="coffee">
    <br>
    <button type="submit">Submit</button>
</form>