<form action="/metrics" method="POST">
    <style>
       .columnleft {
       padding-left: 20px;
       text-align: right;
       width: 50%;
       }
       .columnright {
       float: left;
       width: 50%;
       }
       /* Clear floats after the columns */
       .row:after {
       content: "";
       display: table;
       clear: both;
       }
       .button{
       padding-left: 50%;
       }
       div{
       margin-top: 2px;
       }
    </style>
    <br>
    <div class="row">
       <div class="columnleft">     <label for="waste">Average Pounds of Trash, Recycling, and Compost per day</label>
       </div>
       <div class="columnright">     <input type="text" placeholder="Avg Trash per day" name="trash">        </div>
    </div>
    <div class="row">
       <div class="columnleft"> </div>
       <div class="columnright">     <input type="text" placeholder="Avg Recycling per day" name="recycle"></div>
    </div>
    <div class="row">
        <div class="columnleft"> </div>
        <div class="columnright">     <input type="text" placeholder="Avg Compost per day" name="Compost"></div>
     </div>
     <br>
    <div class="row">
       <div class="columnleft">    <label for="milk">Average Gallons of Milk used per day</label> </div>
       <div class="columnright">    <input type="text" placeholder="Avg Gallons per day" name="milk"> </div>
    </div>
    <br>
    <div class="row">
       <div class="columnleft">     <label for="commute">Average Amount of Miles All Employees commute by car per day</label></div>
       <div class="columnright">    <input type="text" placeholder="Avg Miles per day " name="commute"> </div>
    </div>
    <br>
    <div class="row">
       <div class="columnleft">
          <label for="bills">Utilities</label> 
       </div>
       <div class="columnright">     <input type="text" placeholder="Avg Therms per day" name="gas"></div>
    </div>
    <div class="row">
       <div class="columnleft">
           
       </div>
       <div class="columnright"><input type="text" placeholder="Avg Gallons of Water per day" name="water"> </div>
    </div>
    <div class="row">
       <div class="columnleft"> </div>
       <div class="columnright">     <input type="text" placeholder="Avg KWh per day" name="electric"></div>
    </div>
    <br>
    <div class="row">
       <div class="columnleft">     <label for="coffee">Average Pounds of coffee from non-local regions per day</label></div>
       <div class="columnright">     <input type="text" placeholder="Avg Pounds per day" name="coffee"></div>
    </div>
    <div class="row">
        <div class="columnleft"></label></div>
        <div class="columnright"><div class="column-right"><button type="submit">Submit</button></div></div>
     </div>
 </form>
