<form action="/metrics" method="POST">
    <style>
       .columnleft {
       padding-left: 20px;
       text-align: right;
       width: 50%;
       }
       .columnright {
       float: left;
       width: 50%;
       }
       /* Clear floats after the columns */
       .row:after {
       content: "";
       display: table;
       clear: both;
       }
       .button{
       padding-left: 50%;
       }
       div{
       margin-top: 2px;
       }
    </style>
    <br>
    <div class="row">
       <div class="columnleft">     <label for="waste">Average Pounds of Trash, Recycling, and Compost per day</label>
       </div>
       <div class="columnright">     <input type="text" placeholder="Trash" name="trash">        </div>
    </div>
    <div class="row">
       <div class="columnleft"> </div>
       <div class="columnright">     <input type="text" placeholder="Recycling" name="recycle"></div>
    </div>
    <div class="row">
        <div class="columnleft"> </div>
        <div class="columnright">     <input type="text" placeholder="Compost" name="Compost"></div>
     </div>
     <br>
    <div class="row">
       <div class="columnleft">    <label for="milk">Average Gallons of Milk used</label> </div>
       <div class="columnright">    <input type="text" placeholder="Milk" name="milk"> </div>
    </div>
    <br>
    <div class="row">
       <div class="columnleft">     <label for="commute">Average Amount of Miles All Employees commute by car per day</label></div>
       <div class="columnright">    <input type="text" placeholder="Average Commute time" name="commute"> </div>
    </div>
    <br>
    <div class="row">
       <div class="columnleft">
          <label for="bills">Utilities</label> 
       </div>
       <div class="columnright">     <input type="text" placeholder="Gas" name="gas"></div>
    </div>
    <div class="row">
       <div class="columnleft">
           
       </div>
       <div class="columnright"><input type="text" placeholder="Water" name="water"> </div>
    </div>
    <div class="row">
       <div class="columnleft"> </div>
       <div class="columnright">     <input type="text" placeholder="Electric" name="electric"></div>
    </div>
    <br>
    <div class="row">
       <div class="columnleft">     <label for="coffee">Average Pounds of coffee from non-local regions ordered</label></div>
       <div class="columnright">     <input type="text" placeholder="Coffee" name="coffee"></div>
    </div>
    <div class="row">
        <div class="columnleft"></label></div>
        <div class="columnright"><div class="column-right"><button type="submit">Submit</button></div></div>
     </div>
    
 </form>

<form action="/userlink" method="POST">
   <button type="submit">View Profile</button>
</form>