<header class="header-section">
    <div class="header-warp">
        <div class="nav-switch">
            <i class="fa fa-bars"></i>
        </div>
        <ul style="outline: 5px black; text-align:center" class="main-menu">
            <li><a href="/">Home</a></li>
            <li><a href="/search">Search Businesses</a></li>
            <li><a href="/input">Input Data</a></li>
            <li><a href="/footprint">Carbon Footprint</a></li>
            <li><a href="/register">Registration</a></li>
            <li><a href="/about">About Us</a></li>
        </ul>
    </div>
</header>