<form action="login" method="POST">
    <label for="name">What is the Name of your store?</label>
    <input type="text" placeholder="Store Name" name="name">
    <br>
    <label for="state">Password</label>
    <input type="text" placeholder="Password" name="password">
    <br>
    <button type="submit">Submit</button>
</form>