<div style=" margin-top: 50px;text-align: center;">
    <form action="search" method="POST">
        <label for="">Search for a company: </label>
        <br>
        <input type="text" placeholder="type here" name="name" size="40">
    </form>
</div>