.s1 {
	background: url(../img/index/bamboo.jpg) 95% 100%;
	background-size: cover;
	background-position: center;
}
.bluredBackground {
    width:100%;
    height:100%;
    background-image:url(../img/index/bamboo.jpg);
    position: relative;
    filter: blur(2px);
}

#backgroundImage {
	background-image:url(../img/index/bamboo.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	background-position: center;
}
#blurBackground {
	display:block;
	position:absolute;
	width: 120%;
	height:200px;
	top:0%;
	left:50%;
	background-image: url(../img/index/bamboo.jpg);
	background-position: center center;
	transform:translate(-50%,-50%);
	-webkit-filter:blur(5px); filter: blur(5px); -moz-filter:blur(5px); -ms-filter: blur(5px);}