.s1 {
	background: url(../img/index/bamboo.jpg) 95% 100%;
	background-size: cover;
	background-position: center;
}

.s2 {
	background: url(../img/index/2.jpg);
	background-size: cover;
	background-position: center;
}

.s3 {
	background: url(../img/index/6.jpg);
	background-size: cover;
	background-position: center;
}
