.columnleft {
padding-right: 20px;
text-align: right;
width: 50%;
}
.columnright {
float: left;
width: 50%;
}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}
.button{
    padding-left: 50%;
}
div{
    margin-top: 2px;
}