<!DOCTYPE html>
<html>
    <head>
        <title>About Us</title>
        <meta charset="UTF-8">
        <meta name="description" content="Sustainabeanity">
        <%- include('../partials/styles') %>
        <style>
            .aboutus{
                margin-top: 100px;
                background-color: #4f7942;
                height: 90%;
            }
            .aboutustext{
                margin-left: 10%;
                padding-top: 10%;
            
            }
            p{
                font-size: 14px;
            }
        </style>
        </style>
        <body style="background-color: #333333;">
            <div class="loader">
                <img src="/img/preloader.gif"/>
            </div>
            <%- include('../partials/header') %>
            <div class="aboutus">
                <div class="aboutustext">
                    <h2 >Welcome to Sustainabeanity!</h2>
                        <br>
                    <p style="color: white;">
                        This application was built by three students during the Univeristy of Colorado's sixth anual hackathon.
                        <br>
                        <br>
                        Contact:
                    </p>
                </div>
            </div>

        <script src="/js/preloader.js"></script>
        <script src="/js/jquery-3.2.1.min.js"></script>  
        <script src="/js/main.js"></script>
        </body>
    </head>
</html>