<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="/resources/css/style.css"/>
    <style>
        .text{
            position: absolute; 
            top: 200px; 
            left: 0; 
            width: 100%; 
            z-index: 999;
            text-align: center;
        }
        .image{

            width: 25%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
    <body style="background-color: #333333;">
        <div class="text">
            <a href="/views/pages/index.html"><h1>Uh oh!</h1></a>
            <a href="/views/pages/index.html"><h2>That page wasn't found.<br>Click to go home.</h2></a>
        </div>
        <div class="image">
            <img src="/resources/img/error.png" alt="">
        </div>
    </body>
</html>