<!DOCTYPE html>
<html>
    <head>
        <title>Footprint</title>
        <meta charset="UTF-8">
        <meta name="description" content="Sustainabeanity">
        <style>
         .imagecolumn {
         float: right;
         width: 33.33%;
         }
         .textcolumn{
         float: right;
         width: 66.67%;
         }
    
            /* Clear floats after the columns */
            .row:after {
            content: "";
            display: table;
            clear: both;
            }
        </style>

        <%- include('../partials/styles') %>
        <body style="background-color: #333333;">
            <div class="loader">
                <img src="/img/preloader.gif"/>
            </div>
            <%- include('../partials/header') %>
            <div style="background: white; margin-top: 100px; height: 90%">
                <div style="padding-top: 25px;">
                    <h2 style="color: black; text-align: center;">
                        Resources have a large environmental impact...</h2>
                </div>
                <div class="row">
                    <div class="imagecolumn"><img src="img/footprint/trashcan.png" width="200px" alt=""></div>
                    <div class="textcolumn"><p>test2</p></div>
                </div>
                <div class="row">
                    <div class="imagecolumn"><img src="img/footprint/milk.png" width="200px" alt=""></div>
                    <div class="textcolumn"><p>test2</p></div>
                </div>
            </div>
        <script src="/js/preloader.js"></script>
        <script src="/js/jquery-3.2.1.min.js"></script>  
        <script src="/js/main.js"></script>
        </body>
    </head>
</html>