<!DOCTYPE html>
<html>
    <head>
        <title>Footprint</title>
        <meta charset="UTF-8">
        <meta name="description" content="Sustainabeanity">
        <style>
         .imagecolumn {
         width: 33.33%;
         }
         .textcolumn{
         float: right;
         width: 66.67%;
         }
         img{
             float: right;
             max-height: 150px;
             max-width: 50px;
             padding-right:5%;
         }
         p{
             padding-right:10%;
         }
        
    
            /* Clear floats after the columns */
            .row:after {
            content: "";
            display: table;
            clear: both;
            }
        </style>

        <%- include('../partials/styles') %>
        <body style="background-color: #333333;">
            <div class="loader">
                <img src="/img/preloader.gif"/>
            </div>
            <%- include('../partials/header') %>
            <div style="background: white; margin-top: 100px; height: 1000px">
                <div style="padding-top: 25px;">
                    <h2 style="color: black; text-align: center;">
                        Resources have a large environmental impact...</h2>
                </div>
                <br>
                <br>
                <br>
                <div class="row">
                    <div class="imagecolumn"><img src="img/footprint/trashcan.png" alt=""></div>
                    <div class="textcolumn">
                        <p>
                            On any given day Americans drink an average of <a href="https://www.statista.com/statistics/456360/total-us-coffee-per-capita-consumption/">2 cups of coffee per day</a>
                            This means that in American alone, we consume an average of 654,000,000 
                            cups of coffee per day, and some 200 billion cups per year. That’s a lot of 
                            potential waste, not only in paper or plastic cups, but from the coffee itself. 
                            Based on cup consumption, America uses 16,350,000 pounds of coffee a day, and 
                            nearly 6 billion pounds every year. <a href="https://recycle.com/organics-compost-vs-landfill/">Sending trash to a landfill isn’t always the best option</a>
                            , and if you aren’t already, composting spent coffee grounds and foods is an <a href="https://extension.oregonstate.edu/gardening/techniques/coffee-grounds-composting">excellent way</a> to 
                            reduce waste and return some of those nutrients back to the earth, especially when you consider <a href="https://www.washington.edu/news/2015/12/16/composting-food-waste-remains-your-best-option-says-uw-study/">22% 
                            of all landfills are comprised of food</a>, and 95% of food gets sent to a landfill. 
                        </p>
                    </div>
                </div>
                <br>
                <br><br>
                <div class="row">
                    <div class="imagecolumn"><img src="img/footprint/milk.png" alt=""></div>
                    <div class="textcolumn">
                        <p>
                            <a href="https://www.mywaste.ie/news/what-s-the-carbon-footprint-of-a-cup-of-tea-or-coffee/ ">Milk is one of the largest sources of carbon in a cup of coffee. </a>
                            and a primary sorce of methane as a result of raising cows. This means that espresso drinks in particular can benefit from the use of alternative milks. These milks 
                            tend to have much lower environmental impact and there are now a <a href="https://blog.datawrapper.de/cow-milk-and-vegan-milk-alternatives/">broad variety of them.</a>
                        </p>
                    </div>
                </div>
                <br><br><br>
                <div class="row">
                    <div class="imagecolumn"><img src="img/footprint/transportation.png" alt="" width="150px"></div>
                    <div class="textcolumn">
                        <p>
                            <a href="https://www.pbs.org/newshour/science/5-charts-show-how-your-household-drives-up-global-greenhouse-gas-emissions">Transportation accounts for an average of 30% of household emissions every year.</a> 
                            Thankfully there are several ways to help reduce your commuting carbon footprint. Carpooling, public transit, and cycling or walking to work has already made an appreciable impact on total emissions in the US, but more can be done, 
                            There are <a href="https://www.c2es.org/content/reducing-your-transportation-footprint/">several tools</a> to help, <a href="https://mapmyemissions.com/home">including maps</a>, that allow you measure your carbon 
                            footprint for each trip, and comparing your carbon saving between different modes of transportation.
                        </p>
                    </div>
                </div>
                <br><br><br>
                <div class="row">
                    <div class="imagecolumn"><img src="img/footprint/lightbulb.png" alt=""></div>
                    <div class="textcolumn">
                        <p>
                            Utilities are the single largest contribution to emissions from restaurants, and for coffee in particular, 
                            <a href="https://unitedbaristas.com/articles/insights/2019/09/calculating-the-coffee-industrys-carbon-emissions/">one of the largest sources of carbon dioxide is heating the water to brew the drink</a>. 
                            There are a wide variety of ways to help cut carbon emissions in restaurents from using Energy Star appliances certified by 
                            the EPA (They even rank coffee machines!) to using free energy audits provided by many power companies. Using a different 
                            combination of fuel, and power sources can have a positive impact for both the environment and company’s bottom line and the 
                            <a href="https://www.epa.gov/energy/greenhouse-gases-equivalencies-calculator-calculations-and-references">EPA provides tools like the the greenhouse gases equivalence calculator</a> to help determine how much positive impact a change can have. 
                        </p>
                    </div>
                </div>
            </div>
        <script src="/js/preloader.js"></script>
        <script src="/js/jquery-3.2.1.min.js"></script>  
        <script src="/js/main.js"></script>
        </body>
    </head>
</html>