<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sustainabeanity</title>
        <meta charset="UTF-8">
        <meta name="description" content="Sustainabeanity">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="img/favicon.ico" rel="shortcut icon" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.7/fullpage.min.css" />
        <link rel="stylesheet" href="/resources/css/fullpage.css">
        <link rel="stylesheet" href="/resources/css/preloader.css">
        <link rel="stylesheet" href="/resources/css/style.css">
        <link rel="stylesheet" href="/resources/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="/resources/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/resources/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="/resources/css/style.css"/>
        <link rel="stylesheet" href="/resources/css/preloader.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <style>
            .textcenter {
            text-align: center;
            }
        </style>
        <style>
            .fullpagelink {
            margin-right: 5%; 
            margin-left: 10%;
            }
        </style>
    </head>
    <body style="background-color: #333333">
        <div class="loader">
            <img src="img/preloader.gif"/>
        </div>
        <header class="header-section">
            <div class="header-warp">
                <div class="nav-switch">
                    <i class="fa fa-bars"></i>
                </div>
                <ul style="outline: 5px black; text-align:center" class="main-menu">
                    <li><a href="index.html"><u>Home</u></a></li>
                    <li><a href="search.html">Search Our Database</a></li>
                    <li><a href="input.html">Input Data</a></li>
                    <li><a href="register.html">Registration</a></li>
                    <li><a href="aboutus.html">About Us</a></li>
                </ul>
            </div>
        </header>
        <div id="fullPage">
            <div class="section s1">
                <div class="textcenter text-white">
                    <h1>Sustainabeanity<br/></h1>
                    <h5><br>Caron Footprint Analysis for Business Owners</h5>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.7/fullpage.min.js"></script>
        <script>
            new fullpage('#fullPage', {
                autoScrolling: true
            })
        </script>
        <script src="/resources/js/preloader.js"></script>
        <script src="/resources/js/jquery-3.2.1.min.js"></script>  
        <script src="/resources/js/main.js"></script>
    </body>
</html>