<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sustainabeanity</title>
        <meta charset="UTF-8">
        <meta name="description" content="Sustainabeanity">
        <%- include('../partials/styles') %>
        <style>
            .blur {
            background-position: center right;
            -webkit-filter: blur(3px);
            -moz-filter: blur(3px);
            -o-filter: blur(3px);
            -ms-filter: blur(3px);
            filter: blur(3px);
            filter: blur(3px);
            float: right;
            height: 100%;
            width: 360px;
        }
        </style>
        <style>
            .overlayText{
                position: absolute;
                z-index: 999;
                text-align: center;
                margin-top: 375px;
                width: 100%;
            }
        </style>
    </head>
    <body style="background-color: #333333">
        <div class="loader">
            <img src="/img/preloader.gif"/>
        </div>
        <%- include('../partials/header') %>
        <div id="fullPage">
            <div id="backgroundImage">
                <div id="blurBackground"></div>
                <div class="overlayText">
                    <h1>Sustaina<u>bean</u>ity<br/></h1>
                    <h5><br>Caron Footprint Analysis for Coffeeshops</h5>
                </div>
            </div>
                
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.7/fullpage.min.js"></script>
        <script>
            new fullpage('#fullPage', {
                autoScrolling: true
            })
        </script>
        <script src="/js/preloader.js"></script>
        <script src="/js/jquery-3.2.1.min.js"></script>  
        <script src="/js/main.js"></script>
    </body>
</html>