<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sustainabeanity</title>
        <meta charset="UTF-8">
        <meta name="description" content="Sustainabeanity">
        <%- include('../partials/styles') %>
        <style>
            .textcenter {
            text-align: center;
            }
        </style>
        <style>
            .fullpagelink {
            margin-right: 5%; 
            margin-left: 10%;
            }
        </style>
    </head>
    <body style="background-color: #333333">
        <div class="loader">
            <img src="/img/preloader.gif"/>
        </div>
        <%- include('../partials/header') %>
        <div id="fullPage">
            <div class="section s1">
                <div class="textcenter text-white">
                    <h1>Sustaina<u>bean</u>ity<br/></h1>
                    <h5><br>Caron Footprint Analysis for Business Owners</h5>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.7/fullpage.min.js"></script>
        <script>
            new fullpage('#fullPage', {
                autoScrolling: true
            })
        </script>
        <script src="/js/preloader.js"></script>
        <script src="/js/jquery-3.2.1.min.js"></script>  
        <script src="/js/main.js"></script>
    </body>
</html>