<!DOCTYPE html>
<html>
    <head>
        <title>About Us</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/resources/css/columns.css">
        <meta name="description" content="Sustainabeanity">
        <%- include('../partials/styles') %>
        <body style="background-color: #333333;">
            <div  class="loader">
                <img src="/img/preloader.gif"/>
            </div>
            <%- include('../partials/header') %>
            <div style="padding-top: 10% ; background: #4f7942; height: 90%;">     
                <div style="padding-top: 50px;">
                    <div style="text-align: center;">
                        <h2>Input Data About your Business</h2>
                    </div>
                    <div style="margin-top: 50px; color: white">
                        <%- include('../partials/dataForm') %>
                    </div>
                </div>
            </div>

        <script src="/js/preloader.js"></script>
        <script src="/js/jquery-3.2.1.min.js"></script>  
        <script src="/js/main.js"></script>
        </body>
    </head>
</html>