<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
        <meta charset="UTF-8">
        <meta name="description" content="Sustainabeanity">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="img/favicon.ico" rel="shortcut icon" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.7/fullpage.min.css" />
        <link rel="stylesheet" href="./css/fullpage.css">
        <link rel="stylesheet" href="./css/preloader.css">
        <link rel="stylesheet" href="./css/style.css">
        <link rel="stylesheet" href="./css/font-awesome.min.css"/>
        <link rel="stylesheet" href="./css/bootstrap.min.css"/>
        <link rel="stylesheet" href="./css/font-awesome.min.css"/>
        <link rel="stylesheet" href="./css/style.css"/>
        <link rel="stylesheet" href="./css/preloader.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <style>
            .textcenter {
            text-align: center;
            }
        </style>
        <style>
            .fullpagelink {
            margin-right: 5%; 
            margin-left: 10%;
            }
        </style>
        <body style="background-color: #333333;">
            <header class="header-section">
                <div class="header-warp">
                    <div class="nav-switch">
                        <i class="fa fa-bars"></i>
                    </div>
                    <ul style="outline: 5px black; text-align:center" class="main-menu">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="search.html">Search Our Database</a></li>
                        <li><a href="input.html">Input Data</a></li>
                        <li><a href="register.html"><u>Registration</u></a></li>
                        <li><a href="aboutus.html">About Us</a></li>
                    </ul>
                </div>
            </header>
            <h1 style="margin-top:50%; text-align: center;">test</h1>
        <script src="js/preloader.js"></script>
        <script src="js/jquery-3.2.1.min.js"></script>  
        <script src="js/main.js"></script>
        </body>
    </head>
</html>